
<div class="copyrigths">
    &#169; Durgesh, Prashant, Rajkumar Rajput, Komal Gupta
</div>
<br>
<div class="socialmedia">
    <a rel="nofollow" href="#" class="fa fa-facebook"></a>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
    <a rel="nofollow" href="#" class="fa fa-twitter"></a>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
    <a rel="nofollow" href="#" class="fa fa-google"></a>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
    <a rel="nofollow" href="#" class="fa fa-youtube"></a>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
    <a rel="nofollow" href="#" class="fa fa-android"></a>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
    <a rel="nofollow" href="#" class="fa fa-yahoo"></a>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
    <a rel="nofollow" href="#" class="fa fa-reddit"></a>&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;&ThinSpace;
</div>