<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
	<meta name="keywords" content="forgot password page, basic html and css">
    <!-- <link rel = "stylesheet" href = "./css/forgotPassword.css"/> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
	<title>Forgot Password Page - HTML + CSS</title>
</head>
<header>
    <%- include("./header",{status:"Nothing"}); %>
</header>
<body>
	<div class="forgotPasswordClass">
		<div class="container">
		<h1>Forgot Password</h1>
		
		<form class="form-group" method="post" onsubmit="return false;" id="forgotPasswordForm">
			

			<label for ="userType">UserType</label>	
			<label class="radio-inline">
				<input type="radio" name="userType" value="individual">INDIVIDUAL
			</label>
			<label class="radio-inline">
				<input type="radio" name="userType" value="organization" checked>ORGANIZATION
			</label>
			
			<h6 class="information-text">Enter your registered email to reset your password.</h6>
            <p><label for="username">Email</label></p>
			<input type="email" name="forgotEmail" id="forgotEmail" placeholder="Enter your email">
			<br>
            <label for="cars">Select your security question:</label>
            <br>
            
			<select class="sQuestionInForgot" id="forgotPasswordQuestion" name="forgotPasswordQuestion">
                <option value="childHoodName">What is your chilhood name ?</option>
                <option value="favouriteHero">Who is your favourite hero ?</option>
                <option value="favouriteFruit">What is your favourite fruit ?</option>
                <option value="aim">What is your aim ?</option>
                <option value="favouriteIceCream">What is your favourite ice-cream ?</option>
                <option value="favouriteState">What is your favourite state ?</option>
            </select>
            <br><br>
            <p><label for="sAnswerInForgot">Security Answer</label></p>
            <input type="text" name="sAnswerInForgot" id="sAnswerInForgot" placeholder="Enter your security answer">
            
            <!-- <button onclick="showSpinner()">Reset Password</button> -->



			<label for="newPassword" style="padding-top:22px">&nbsp;Password
            </label>
          <input id="newPassword" class="form-content" type="password" name="newPassword" placeholder="********" required autocomplete="off"/>
		  <label for="confirmPassword" style="padding-top:22px">&nbsp;Confirm Password
			</label>
	  		<input id="confirmPassword" class="form-content" type="password" name="confirmPassword" placeholder="********" required autocomplete="off"/>

			<input type="submit" value="Reset Password" class="submit-btn" name="submit">

            <div class="alert alert-success" role="alert" id="successAlert" style="display: none;">
                Success
            </div>
            <div class="alert alert-error" role="alert" id="errorAlert" style="display: none;">
              Error
            </div>
			

		</form>
		</div>
	</div>
	<script src="../../public/js/forgotPassword.js"></script>
</body>
<footer>
    <%- include("./footer",{status:"Nothing"}); %>
</footer>