<html>
<head>
    <link rel="stylesheet" href="/public/css/description.css">
    <link rel="stylesheet" href="/public/css/loginInHomePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
  
<div class="top-img">
    <img src="">
</div>

<div class="homePageClass">
<div class="description">
    <div class="text_body">
        Online job portal is the primary mediator between the job seeker and job provider.
        <br>
        In present time, there is hardly any job portal which focuses on providing jobs to the individuals who have low skills or education not upto a certain level.
        <br>
        Our main objective is to help the individuals to seek jobs requiring low skills and simultaneously allowing both individuals and organisations to post jobs.
        <br>
        Unlike other similar job portals we allow the following job types:
        <br>
        1. Carpenter
        <br>
        2. Security Guard.
        <br>
        3. Tutor
        <br>
        4. Housemaids.
        <br>
        5. Driver.
        <br>
        6. Janitor.
        <br>
        and many more.....
        <br>
    </div>
</div>

<div>
  <!-- <div class="left-div">
    <div class="down-login">
      <div class="wrapper1">
          <input type="radio" name="select" id="option-1" value="organization" checked>
          <input type="radio" name="select" id="option-2" value="individual">
<!-- 
          <label for="option-1" class="option option-1">
            <div class="dot">
              <img src="" height="" width="">
            </div>
            <!-- <span>ORGANIZATION</span>
            <span</span> -->
          </label>
          <label for="option-2" class="option option-2">
            <div class="dot">
              <img src="" height="" width="">
            </div>
            <!-- <span>INDIVIDUAL</span> -->
          </label> -->
          <!-- login -->
  <!-- <div id="login-content">
    <div id="login-title">
      <h2>LOGIN</h2>
      <div class="underline-title"></div>
    </div>
    
    <form method="post" onsubmit="return false;" id="loginForm" class="loginForm">
      <label for="loginEmail" style="margin-top:3em">
          &nbsp;Email
        </label>
      <input id="loginEmail" class="form-content" type="email" name="email" autocomplete="on" placeholder="eg: jhon@email.com" required />
      <div class="form-border"></div>
      <label for="loginPassword" style="padding-top:22px">&nbsp;Password
        </label>
      <input id="loginPassword" class="form-content" type="password" name="password" placeholder="********" required autocomplete="off"/>
      <div class="form-border"></div>
      <a href="#">
        <legend id="forgot-pass">Forgot password?</legend>
      </a>
      <div class="alert alert-success" role="alert" id="successAlert" style="display: none;">
          Success
      </div>
      <div class="alert alert-error" role="alert" id="errorAlert" style="display: none;">
        Error
      </div>
      <input id="submit-btn" type="submit" name="submit" class="submit-btn" value="LOGIN" />
      <a href="/register" id="signup">Don't have account yet?</a>
    </form>
  </div> -->
  </div>
  
</div>
   <script src="../../public/js/login.js"></script>
</body>
</html>