footer{
    background: rgb(111,111,111);
    background: linear-gradient(0deg,rgb(1, 150, 166) , rgba(255, 6, 6, 0.696));
}
.copyrigths{
    display: inline-block;
    background: greenyellow;
}

footer .socialmedia{
    margin-right: 20px;
    margin-right: 0px;
    float: right;
}

.fa{
    padding: 30px;
    font-size: 35px;
    width: 100%;
    text-align: centre;
    text-decoration: none;
    float: right;
}
.fa:hover{
    opacity: 0.8;
}

.fa-facebook{
    background: blanchedalmond;
    color: black;
}
.fa-twitter{
    background: blanchedalmond;
    color: black;
}
.fa-google{
    background: blanchedalmond;
    color: black;
}
.fa-youtube{
    background: blanchedalmond;
    color: black;
}
.fa-android{
    background: blanchedalmond;
    color: black;
}
.fa-yahoo{
    background: blanchedalmond;
    color: black;
}
.fa-reddit{
    background: rgb(32, 31, 31);
    color: black;
}