body{
    background-color: whitesmoke;
}
/* .menubar{
    background-color: rgb(170, 214, 252);
    font-size: xx-large;
    word-spacing: 5px;
    float: left;
    width: 100auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

